
$cor-Cinza-medio:#444444;
$cor-Cinza-claro:#EFEFEF;
$cor-cinza-escuro:#090129 ;
$cor-rosa:#FF55DF;
$cor-verde:#8FFF24;
$cor-roxo-escuro: #430091;
$cor-roxo:#780BF7;
$cor-titulo:#0B254B;

$fonte-secundaria:"Orbitron", sans-serif;

$fonte-primaria:  "Poppins", sans-serif;


